<div class="container">
  <form class="message-form" (ngSubmit)="addNewMessage()">
    <input
      type="text"
      name="message"
      [(ngModel)]="enterMessage"
      placeholder="Enter your message"
      class="message-input"
      required
    />
    <button type="submit" class="submit-button">Enter</button>
  </form>

  <div class="message-list">
    <h3>Twoje wiadomości:</h3>
    @for (item of messages; track $index) {
      <p class="message-text">User xyz: {{item}}</p>
    }
  </div>
</div>




